body{
    margin: 0;
}

.header{
    width: 100%;
    background-color: rgb(219, 14, 127);
}

.nav-link{
    color: white !important;
}

.navbar-brand{
    color: white !important;
}

h1{
    margin-left: 65px;
    margin-top: 40px;
    color: rgba(230, 20, 20, 0.973);
}

img{
    margin-left: 65px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 500px;
    height: 300px;
    border-radius: 20px;
}

p{
    margin-left: 45px;
    margin-top: 20px;

}

.footer{
    text-align: center;
    padding: 20px;
    margin-top: 300px;
    color: white;
    background-color: rgb(219, 14, 127);
}

.footer p{
    margin-top: 10px;
}

@media screen and (max-width: 768px) {

    img{
        margin-left: 65px;
        margin-top: 15px;
        width: 150px;
        height: 100px;
        border-radius: 12px;
    }
    
}